PISMS_Service_Realtime/PISMS_Service_Realtime/Connected Services/SMSGateway/ICTSMSDTAC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schwebpart:83/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://schwebpart:83/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schwebpart:83/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="sendSMS2DTAC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="in_msn_list" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="in_sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="in_msg" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="in_msg_type" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSMS2DTACResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendSMS2DTACResult" type="tns:SMS_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SMS_Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendSMS2DTACSoapIn">
    <wsdl:part name="parameters" element="tns:sendSMS2DTAC" />
  </wsdl:message>
  <wsdl:message name="sendSMS2DTACSoapOut">
    <wsdl:part name="parameters" element="tns:sendSMS2DTACResponse" />
  </wsdl:message>
  <wsdl:portType name="ICTSMSDTACSoap">
    <wsdl:operation name="sendSMS2DTAC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method provide to send sms to specified phone numbers as below describe.&lt;br/&gt;&lt;br/&gt;&lt;b&gt;in_msn_list&lt;/b&gt; is a string variable for specified mobile phone number to sending, separate with ';' charecter for multiple numbers.&lt;br/&gt;&lt;br/&gt;&lt;b&gt;in_sender&lt;/b&gt; is a string variable for specified sender or header message. It cannot be over 10 characters and english only. The character '$' , ']' , '_' , '`' , '}', '@' cannot be sent as Sender&lt;br/&gt;&lt;br/&gt;&lt;b&gt;in_msg&lt;/b&gt; is as string variable for specified a message body (include in_sender).&lt;br/&gt;&lt;ul&gt;&lt;li&gt;in_msg_type='E': message length can not longer than 160 characters&lt;/li&gt;&lt;li&gt;in_msg_type='T': message length can not longer than 70 characters&lt;/li&gt;&lt;/ul&gt;&lt;br/&gt;The character '^' , '{' , '}' , '\\' , '~' , ']' , '[' , '|' cannot be contain.&lt;br/&gt;&lt;br/&gt;&lt;b&gt;in_msg_type&lt;/b&gt; is type of message.&lt;br/&gt;&lt;ul&gt;&lt;li&gt;'E' = English (Default)&lt;/li&gt;&lt;li&gt;'T' = Thai&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:sendSMS2DTACSoapIn" />
      <wsdl:output message="tns:sendSMS2DTACSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ICTSMSDTACSoap" type="tns:ICTSMSDTACSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendSMS2DTAC">
      <soap:operation soapAction="http://schwebpart:83/sendSMS2DTAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ICTSMSDTACSoap12" type="tns:ICTSMSDTACSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendSMS2DTAC">
      <soap12:operation soapAction="http://schwebpart:83/sendSMS2DTAC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICTSMSDTAC">
    <wsdl:port name="ICTSMSDTACSoap" binding="tns:ICTSMSDTACSoap">
      <soap:address location="http://schwebpart:83/ICTSMSDTAC.asmx" />
    </wsdl:port>
    <wsdl:port name="ICTSMSDTACSoap12" binding="tns:ICTSMSDTACSoap12">
      <soap12:address location="http://schwebpart:83/ICTSMSDTAC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>